body{
    width: 90%;
    height: 100%;
    background-color: rgb(68, 66, 66);
}
form{
    text-align: center;

}
.body{
    margin: 0% auto ;
    width: 80%;
    height: 400px;
    background-color: rgb(243, 236, 236);
}
div form label input{
    border: 2px solid black;
    margin-bottom: 20px;
    margin-left: 2%;
}
.button{
    width: 70px;
    height: 30px;
    border: rgb(109, 109, 109) 2px solid;
    border-radius: 10%;
    text-align: center;
    background-color: rgb(113, 113, 240);
    color: white;
    margin: 0 auto;
}
.button:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    
}